html{
}
body{
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    color: #333;
    word-wrap: break-word;
    text-align: center;
}
nav{
}
footer{
    text-align: center;
    font-size: 18px;
    height: 36px;
}
