<!DOCTYPE html>
<html>
<head>
<title><%= title %> - Olympia</title>
<link href="/style.css" rel="stylesheet">
</head>
  <body>
    <div id="title">
      <a href="/">Olympia Camera Manager</a>
    </div>
    <nav>
      <div><a href="/home">Home</a></div>
      <div><a href="/album">Albums</a></div>
      <div><a href="/remote">Remote Control</a></div>
      <div><a href="/setting">Settings</a></div>
      <div><a href="/about">About</a></div>
    </nav>
    <div id="mainframe">
      <div class="page-title">
        About Olympia
      </div>
      <div class="flex-container">
        <div class="info-content info-title">
          About
        </div>
        <div class="info-content">
          <div>Copyright &copy; David Zhang, 2016. Document works made by Albert Li.</div>
          <div>Contribute on <a href="https://github.com/crispgm/olympia" target="_blank">Github - crispgm/olympia</a>.</div>
        </div>
      </div>
      <div class="flex-container">
        <div class="info-content info-title">
          License
        </div>
        <div class="info-content">
          <div>The MIT License (MIT)</div>
          <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<p>
          <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
          <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="info-content info-title">
          Contact
        </div>
        <div class="info-content">
          <div>
            <a href="https://gitter.im/crispgm/olympia" target="_blank">
              <img src="https://camo.githubusercontent.com/349ac2b6a7d68f271060c635d8c511c345dfec3e/68747470733a2f2f6261646765732e6769747465722e696d2f6372697370676d2f6f6c796d7069612e737667" alt="Join the chat at https://gitter.im/crispgm/olympia" data-canonical-src="https://badges.gitter.im/crispgm/olympia.svg" style="max-width:100%;">
            </a>
          </div>
          <div>Twitter/Weibo: @crispgm</div>
        </div>
      </div>
      <div class="flex-container">
        <div class="info-content info-title">
          Credit
        </div>
        <div class="info-content">
          Ruby, Sinatra, jQuery
        </div>
      </div>
      <div class="flex-container">
        <div class="info-content info-title">
          Donation
        </div>
        <div class="info-content">
          <div>Support me by donating via Alipay.</div>
          <div>
            <img src="/images/alipay.jpg">
          </div>
        </div>
      </div>
    </div>
    <footer>
      Copyright &copy; Olympia, 2016.
    </footer>
  </body>
</html>
