<!DOCTYPE html>
<html>
<head>
<title><%= title %> - Olympia</title>
<link href="/style.css" rel="stylesheet">
</head>
  <body>
    <div id="title">
      <a href="/">Olympia Camera Manager</a>
    </div>
    <nav>
      <div><a href="/home">Home</a></div>
      <div><a href="/albums">Albums</a></div>
      <div><a href="/remote">Remote Control</a></div>
      <div><a href="/settings">Settings</a></div>
      <div><a href="/about">About</a></div>
    </nav>
    <div id="mainframe">
      <div class="page-title">
        Albums
      </div>
      <div class="flex-container">
        <div class="album-path">Path: <%= albums.first.at(0) %></div>
      </div>
      <div class="flex-container">
        <% albums.each do |album| %>
        <div class="album-item">
          <div class="album-cover"><%= album[1] if album[1].end_with? '.JPG' %></div>
          <div class="album-name"><%= album[1] %></div>
        </div>
        <% end %>
      </div>
    </div>
    <footer>
      Copyright &copy; Olympia, 2016.
    </footer>
  </body>
</html>
