<!DOCTYPE html>
<html>
<head>
<title><%= title %> - Olympia</title>
<link href="/style.css" rel="stylesheet">
</head>
  <body>
    <div id="title">
      <a href="/">Olympia Camera Manager</a>
    </div>
    <nav>
      <div><a href="/home">Home</a></div>
      <div><a href="/album">Albums</a></div>
      <div><a href="/remote">Remote Control</a></div>
      <div><a href="/setting">Settings</a></div>
      <div><a href="/about">About</a></div>
    </nav>
    <div id="mainframe">
      <div class="page-title">
        Albums
      </div>
      <div class="flex-container">
        <div class="info-content info-title">
          About
        </div>
        <div class="info-content">
          <%= imgs =>
        </div>
      </div>
    </div>
    <footer>
      Copyright &copy; Olympia, 2016.
    </footer>
  </body>
</html>
