<!DOCTYPE html>
<html>
<head>
<title><%= title %> - Olympia</title>
<link href="/style.css" rel="stylesheet">
</head>
<body>
<nav>
    Olympia
</nav>
<div>
    Model: <%= caminfo %>
</div>
<footer>
    Copyright &copy; Olympia, 2016.
</footer>
</body>
</html>
